

@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Cal+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&family=Cal+Sans&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
	background-color: rgba(0, 0, 0, 0.85);
}

#status-container {
	text-transform: uppercase;
	font-family: "Cal Sans", sans-serif;
	font-weight: bold;
	font-size: 30px;
	width: 400px;
	max-width: fit-content;
	text-align: center;
	background-color: #D12025;
	color: white;
	padding: 10px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main-container{
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-start;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	scroll-behavior: smooth;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	padding: 10px;
}

#message-box {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	column-gap: 6px;
	row-gap: 2px;
	width: 100%;
	padding: 5px;
	box-sizing: border-box;
	word-break: break-word;
	overflow-wrap: break-word;
	transition: background 0.5s ease;
}

.message-row{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}

#avatar{
	margin-top: 6px;
	margin-right: 2px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	grid-column: 1;
	grid-row: 1;
}

#time{
	margin-right: 2px;
	font-size: 16px;
	background-color: #484848;
	padding: 2px 7px 2px 7px;
	border-radius: 25px;
	text-shadow: rgb(0, 0, 0) 0px 0px 0px;
}

#badge{
	width: 15px;
	height: 15px;
	margin-right: 2px;
	vertical-align: middle;
}

#user-info{
	display: flex;
	align-items: center;
	font-size: 20px;
	font-family: "Cal Sans", sans-serif;
	color: #fff;
	font-weight: normal;
	text-shadow: rgb(0, 0, 0) 1px 1px 1px;
	grid-column: 2;
	grid-row: 1;
	margin-top: 20px;
}

#user-message{
	font-family: "Open Sans", sans-serif;
	color: #fff;
	width: 100%;
	text-shadow: rgb(0, 0, 0) 1px 1px 1px;
	text-align: left;
	grid-column: 1/ span 2;
	grid-row: 2;
	margin-left: 4px;
}

#emotes{
	display: inline-block;
	margin-right: 0.1em;
	position: relative;
	height: 1.3em;
	vertical-align: middle;
	top: 0em;
}  

#cheer-box{
	text-align: center;
	font-size: 18px;
	white-space: normal;
	word-break: break-word;
	overflow-wrap: break-word;
}

#raid-box{
	text-align: center;
	font-size: 18px;
	white-space: normal;
	word-break: break-word;
	overflow-wrap: break-word;
}

#imgur-image {
	max-width: 75%;
	max-height: 300px;
	width: auto;
	height: auto;
	border-radius: 8px;
	margin-top: 5px;
	object-fit: contain;
}

#gigant-emote{
	display: inline-block;
	margin-top: 5px;
	position: relative;
	height: 112px;
	vertical-align: middle;
	top: 0em;
}  

/* Notifications */

/* Redeems */

.main-container .redeem-row{
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.redeem-row{
	text-align: center;
	background: linear-gradient(0deg,rgba(176, 19, 150, 0.24) 0%, rgba(221, 106, 200, 1) 100%);
	color: #fff;
	padding: 10px;
	border-radius: 12px;
	align-self: center;
}

.redeem .received{
	text-align: center;
}

.redeem-message{
	font-family: "Open Sans", sans-serif;
    color: #fff;
	padding: 4px;
}