* {
	margin: 0;
	padding: 0;
	--margin: 10px;
	--border-radius: 15px;
	--line-spacing: 1em;
}

body {
	overflow: hidden;
}

html {
	width: 100vw;
	height: 100vh;
	scroll-behavior: smooth;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	overflow-wrap: break-word;
}

#status-container {
	font-family: "consolas";
	font-weight: 500;
	font-size: 30px;
	text-align: center;
	background-color: #D12025;
	color: white;
	padding: 10px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#mainContainer {
	position: absolute;
	height: calc(100% - 2 * var(--margin));
	width: calc(100% - 2 * var(--margin));
	margin: var(--margin);
}

#rewardContenedor {
	padding: 10px;
	border-radius: 8px;

}

#mensajeContenedor{
	padding: 10px;
	border-radius: 8px;
}

#listaMensajes {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 0;
}

li {
	
	list-style: none;
	overflow: hidden;
	height: 0;
	transition: all 1s ease-in-out;
}

.slideIn li {
	transition: all 0.5s ease-out;
	/* opacity: 0; */
}

.slideIn li.show {
	/* opacity: 1; */
}

#esteDivEsParaQuePuedaCalcularQueTanGrandePuedeSerCadaMensajeAntesDeQueSeaAgregadoAlaListaxd {
	opacity: 0;
}

#primerMensaje,
#chatCompartido {
	display: none;
	font-weight: 500;
	font-size: 0.7em;
}

@keyframes colorBucle {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.rotar-color {
  background: linear-gradient(270deg, #833ab4, #fd1d1d, #fcb045, #833ab4);
  background-size: 600% 600%;
  animation: colorBucle 6s ease infinite;
}

.avatar {
	height: 2em;
	margin: 1px;
	transform: translate(0px, 0.25em);
	border-radius: 50%;
}

.timestamp {
	background: #adadad46;
	border-radius: 1em;
	font-size: 0.7em;
	padding: 0.15em 0.5em;
}

.bits {
	background: #adadad46;
	border-radius: calc(var(--border-radius) / 2);
	font-size: 0.7em;
	padding: 5px 10px;
}

.badge {
	height: 1em;
	margin: 1px;
	transform: translate(0px, 0.25em);
}

.emote {
	height: 1.5em;
	margin: 1px;
	transform: translate(0px, 0.4em);
}


.productImage {
	height: 15em;
	border-radius: 0.25em;
	transform: translate(0px, 0.25em);
}



#badgeList {
	margin: 0 5px;
}

#username,
#title {
	font-weight: 700;
}

.title {
	font-weight: 700;
}

#respuesta {
	display: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 0.7em;
	opacity: 0.5;
}

#mensaje {
	font-weight: 400;
	line-height: 5px;

}

#channel_point{
	width: 20px;
}

#bodyReward{
	display: flex;
	flex-direction: row;
	align-items: center;
}

